@import "../../sass/main";

.trackerpage{
	background:$background-gray;
	h1{
		color:$red;
		font-size:3rem;
		margin:2rem 0rem;
	}
}

.trackerpage-section{
	display:flex;
	justify-content: space-between;
	align-items: flex-start;


	&__left{
		flex: 0 0 65%;
		padding:2rem;
	
	}

	&__right{
		flex: 0 0 30%;
		height: 100%;
	}
}
